/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : barebones form
 URL : http://rebekahmonson.com

 Last Updated : August 10, 2017

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */

/* Logo */
#logo{ display: none; }
/* header */
#header{ display: none; }

/* Backgrounds */
html.embed{background: none;}
#container{background: none;}
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF;}
.wufoo li.focused{background: none;}
.wufoo li.focused label.desc {color: #fff;}
.wufoo .instruct{background-color:#F5F5F5}
.wufoo #errorLi .error-container{ background: none; }

/* Borders */
#container{border:0; box-shadow: none;}
.wufoo .info{border: none;}
.wufoo .instruct{border:none;}
.wufoo #errorLi .error-container{ border: none; }

/* Typography */
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;color:#fff;}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#fff;}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:inherit;color:#333;}
.wufoo label.choice{color:#fff;}
.wufoo li.focused label.desc, .wufoo li.focused legend.desc, .wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label, .safari .wufoo li.focused input.file{color: #fff;}
.wufoo .confirm h2{ color: #fff; font-size: 1.5rem; }


 /* error message */
 .wufoo .error li.desc{  color: #fff !important;}
 .wufoo #errorLi{ display: none !important; }
 .wufoo #errorMsg{ display: none !important; }
 .wufoo li.error{ background-color: none !important; }

 /* button */
.wufoo li.buttons .submit{
 	background: #f4428f;
    border: none;
    font-weight: bold;
    padding: 1em;
    font-family: inherit;
}
.wufoo input.btTxt{
	background: #f4428f;
	font-weight: bold;
    border: none;
    padding: 1em;
    font-family: inherit;
}