h1, h2, h3, h4, h5, h6 {
  
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}
#intro{
  height: 100vh;
  background-color: white;
}
#about{
  height: 100vh;
   background-color: grey;
}
#projects{
  height: 100vh;
   background-color: red;
}
#contact{
  height: 100vh;
   background-color: blue;
}
.top-bar{
  background-color: $black;
  .top-bar-title{
    font-family: $titlebar-brand-font;
    font-size: 1.5rem;
  }
  .top-bar-right{
    font-weight: 800;
    background-color: $black;
    margin-top: -.5rem;
    @include breakpoint(medium) {
      margin-top: .5rem;
    }
  }
  ul{
    background-color: $black;
  }
}
section{
  h1{
    padding: 3rem 2rem;
    font-size: 2em;
    @include breakpoint(medium){
      padding: 2rem;
    }
  }
}

