$primary-color: #f4428f;
$header-font-family: 'Stint Ultra Expanded';

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
}
.seven-five {
  @include aspect-ratio(7, 5);
}


h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  @media #{$medium-up} {
  }
  @media #{$large-up} {
  }
}
body{
  font-size: 1.2rem;
  line-height: 2rem;
  overflow-x: hidden; 
}
.circle-image{
  width: 90%;
  border-radius: 50%;
}
.group{
    float: right;
    margin: 1rem 5%;
    @include breakpoint(medium){
      width: 30%;
      margin: 2rem 3rem;
    }
}
.about-text{
  margin-top: 5%;
}
//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}
.top-bar{
  background-color: $black;
  .menu > li > a {
      font-size: .8rem;
  }
  .title-bar-title{
    font-family: $titlebar-brand-font;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .top-bar-right{
    font-weight: 800;
    background-color: $black;
    margin-top: -.5rem;
    padding-left: 0;
    @include breakpoint(medium) {
      margin-top: .5rem;
    }
    .menu > li > a{
      padding-left: .7rem;
    }
    .active{
      color: scale-color($anchor-color, $lightness: -25%);
    }
  }
  ul{
    background-color: $black;
  }
}
.container{
  padding: 5%;
}
#intro{
  height: 100vh;
  padding: 0;
  background: url(/img/miami.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  .container{
    position: relative;
    top: 0;
    left: 0;
    background: rgba($black, .3);
    height: 100%;
    h1{
      font-size: 3rem;
      color: $white;
      font-family: $header-font-family;
      text-shadow: 2px 2px 6px #000;
      padding-top: .5rem;
      @include breakpoint(medium){
        font-size: 5rem;
        padding-top: 15%;
      }
    }
    p{
      font-family: $header-font-family;
      font-size: 1.5rem;
      line-height: 1.8rem;
      padding: 1rem; 
      color: $white;
      background-color: $black;
      width: 80%;
      text-align: center;
      margin: .5rem auto;
      @include breakpoint(medium){
        margin: 1rem auto;
      }
      @include breakpoint(large){
        width: 50%;
      }
      span{
        color: $primary-color;
        font-size: 1.5rem;
      }
    }
  }
}
#about{
  background-color: $white;
  padding: 0 2rem;
  .container{
    a{
      font-weight: 700;
      text-decoration: underline;
    }
    .button{
      margin: 2rem 0;
      color: #fff;
      text-decoration: none;
    }
    .menu a{
      text-decoration: none;
      padding-left: 0;
      padding-right: 2rem;
      @include breakpoint(medium){

      }
    }
  }
}
#projects{
  border: none;
  .container{
    background-color: $primary-color;
    color: $white;
  }
  .column-block{
    padding: 2rem;
  }
  a{
    color: $black;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: $header-font-family;
    text-decoration: none;
  }
  a:hover{
    color: #444;
  }
  p{
    color: $white;
  }
}
#blog{
  padding: 0 2rem;
  .entry{
    margin: 2rem 0;
  }
}
#contact{
  border: none;
  .container{
    background: url(/img/city.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    p{
      color: $white;
    }
    label{
      color: #ffffff;
      font-size: 1em;
      font-weight: bold;
    }
    .button{
      font-weight: bold;
      color: #000000;
      text-align: center;
    }
    h1, h3{
      margin-top: 2rem;
      color: $primary-color;
    }
  }
}


.is-invalid-input:not(:focus) {
  background-color: white;
}
section{
  h1{
    font-size: 2.3em;
    margin-top: 1rem;
    text-align: center;
    font-family: $header-font-family;
    @include breakpoint(medium){
      font-size: 3.5em;
    }
  }
  h3{
    font-size: 1.6em;
    font-family: $header-font-family;
    margin-bottom: 1rem;
  }
  overflow: hidden;
}

footer{
  width: 100%;
  background-color: $black;
  font-size: .6em;
  font-weight: bold;
  .menu > li > a{
    font-size: .7rem;
    font-weight: bold;
  }
}
li:first-child{
  margin-left: 0;
  padding-left: 0;
}

