---
layout: modern
title: Rebekah Monson | Technology, Media, and Cities
keywords: Rebekah Monson, whereby.us, miami, seattle, technology, journalism, code for miami, hacks/hackers miami, cities, millennials, media
description: Rebekah Monson does technology, media, journalism and city stuff from beautiful Miami, Florida.
imageurl: https://rebekahmonson.github.io/img/headshot.jpg
---

{% include modern-hero.html %}
{% include modern-about.html %}
{% include modern-projects.html %}
{% include modern-contact.html %}





