<section id="about" data-magellan-target="about">
  <div class="container row small-12 columns small-centered">
    <h1>Who's this nerd? 🤓</h1>
    <div class="group">
      <img class="circle-image" src="/img/headshot.jpg"><a href="https://drive.google.com/open?id=0B0HzQC14VDVtRUxLSEFzQVBldGc" class="button large">Download bio and photos</a>
    </div>
    <div class="about-text">
      <p>Rebekah Monson is co-founder and COO for <a href="http://whereby.us">WhereBy.Us,</a> a platform that connects people to their cities starting with daily email newsletters, digital storytelling and local experiences. Its brands, Miami’s <a href="https://thenewtropic.com">The New Tropic</a>, Seattle’s <a href="https://theevergrey.com">The Evergrey,</a> Portland's <a href="https://bridgeliner.com">Bridgeliner,</a> and Orlando's <a href="https://pulp.town">Pulptown,</a> serve more than a million curious locals each year. The company recently completed Jason Calcanis’s <a href="https://launchaccelerator.co/">LAUNCH Accelerator,</a> and is currently expanding to new U.S. markets and enhancing its technology platform.</p>

      <p>Previously, Rebekah worked in many journalism jobs and later ran communications at the University of Miami School of Communication, where she pursued (but didn't finish) an M.F.A. in Interactive Media. She co-founded <a href="http://codefor.miami/">Code for Miami</a> and <a href="http://www.meetup.com/Hacks-Hackers-Miami/">Hacks/Hackers Miami.</a> She frequently speaks and trains about working at the intersection of technology, storytelling and civic engagement for professional journalism and technology organizations, governments and nonprofits.</p>
      <ul class="menu vertical show-for-small-only">
        <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i><span>@{{ site.twitter }}</span></a></li>
        <li><a href="https://medium.com/@{{ site.medium }}"><i class="fa fa-medium"></i><span>@{{ site.medium }}</span></a></li>
        <li><a href="https://linkedin.com/in/{{ site.linkedin }}/"><i class="fa fa-linkedin"></i><span>@{{ site.linkedin }}</span></a></li>
        <li><a href="https://github.com/{{ site.github }}/"><i class="fa fa-github"></i><span>@{{ site.github }}</a></span></li>
      </ul> 
      <ul class="menu hide-for-small-only">
        <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i><span>@{{ site.twitter }}</span></a></li>
        <li><a href="https://medium.com/@{{ site.medium }}"><i class="fa fa-medium"></i><span>@{{ site.medium }}</span></a></li>
        <li><a href="https://linkedin.com/in/{{ site.linkedin }}/"><i class="fa fa-linkedin"></i><span>@{{ site.linkedin }}</span></a></li>
        <li><a href="https://github.com/{{ site.github }}/"><i class="fa fa-github"></i><span>@{{ site.github }}</a></span></li>
      </ul>
    </div>  
  </div> 
</section>
