<section id="contact" data-magellan-target="contact">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Get in touch 💁</h1>
    </div>
    <div class="row small-centered small-12 medium-10 large-6 columns">
      <form id="contact-form" action="https://getsimpleform.com/messages?form_api_token=e88560792c5ee645b1e952b7a0f50fd0" method="post" data-abide>
        <h3>Email me</h3>
        <!-- the redirect_to is optional, the form will redirect to the referrer on submission 
        <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />-->
        <!-- all your input fields here.... -->
        <div class="row">
          <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i> Ruh-roh! There are errors in your form.</p>
          </div>
          <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-success"></i> Got it Thanks for writing.</p>
          </div>
        </div>
        <div class="row">
          <div class="small-centered small-12 columns">
              <label>What's your name, tiger? 🐯
                <input type='text' name='name' placeholder="Dorothy Parker" required/>
                <span class="form-error">Your name is required, friend.</span>
              </label>
          </div>
        </div>
        <div class="row">
          <div class="small-centered small-12 columns">
            <label>How about your email? 📧
              <input type='email' name='email' placeholder="dottie@algonquin.net" required/>
              <span class="form-error">You have to give me your email so I can write you back. (I promise not to send you PowerPoints.)</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-centered small-12 columns">
            <label> Tell me something good … 🎉
              <textarea rows="6" name="message" placeholder="The first thing I do in the morning is brush my teeth and sharpen my tongue." required></textarea>
              <span class="form-error">No, for real, tell me something. Anything. Pretty please?</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-centered small-12 columns">
            <div id="success"></div>
            <p class="text-center"><input type='submit' value='Send it!' class="button"/></p>
          </div>
        </div>
      </form>
    </div>
    <div class="row small-12 medium-10 large-6 columns small-centered office">
      <h3>Office Hours</h3>
      <p>Are you a woman, person of color or LGBTQ person in journalism or technology? I do weekly digital office hours on Thursday afternoons to help people like you with project feedback or career planning. Let's connect!</p>
      <p class="text-center"><a href="https://calendly.com/rebekahm/office-hours/" class="button">Book office hours</a></p> 
    </div>
  </div>
</section>