<section id="contact" data-magellan-target="contact">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Get in touch 💁</h1>
    </div>
    <div class="row small-centered small-12 medium-10 large-6 columns">
      <div id="wufoo-m1wvl6f1dcvf7e">
          Fill out my <a href="https://hirsm.wufoo.com/forms/m1wvl6f1dcvf7e">online form</a>.
          </div>
          <script type="text/javascript">var m1wvl6f1dcvf7e;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'hirsm',
          'formHash':'m1wvl6f1dcvf7e',
          'autoResize':true,
          'height':'497',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { m1wvl6f1dcvf7e = new WufooForm();m1wvl6f1dcvf7e.initialize(options);m1wvl6f1dcvf7e.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');</script>

    </div>
    <div class="row small-12 medium-10 large-6 columns small-centered office">
      <h3>Office Hours</h3>
      <p>Are you a woman, person of color or LGBTQ person in journalism or technology? I do weekly digital office hours on Thursday afternoons to help people like you with project feedback or career planning. Let's connect!</p>
      <p class="text-center"><a href="https://calendly.com/rebekahm/office-hours/" class="button">Book office hours</a></p> 
    </div>
  </div>
</section>