<section id="about">
  <div class="container">
    <h2>About</h2>
    <div class="about-content">
      <div class="about-text">
        <p>Rebekah Monson is co-founder and COO of <a href="https://tryletterhead.com">Letterhead</a>, software that helps you make, manage, and monetize communities starting with great email.</p>

        <p>She previously co-founded <a href="https://whereby.us">WhereBy.Us Media</a>, whose local newsletter brands, Miami's <a href="https://thenewtropic.com">The New Tropic</a>, Seattle's <a href="https://theevergrey.com">The Evergrey</a>, Portland's <a href="https://bridgeliner.com">Bridgeliner</a>, Orlando's <a href="https://pulp.town">Pulptown</a>, and Pittsburgh's <a href="https://theincline.com">The Incline</a>, engage more than a million curious locals each year.</p>

        <p>Rebekah also co-founded <a href="https://commissioner.us">Commissioner</a>, a local art membership program, and <a href="https://codeforsouth.org/">Code for Miami</a>, the city's first civic hacking organization.</p>

        <p>She serves on several professional and civic boards aimed at improving journalism, technology, and civic life, including <a href="https://www.lionpublishers.com/">LION Publishers</a> and the <a href="https://miamifoundation.org/">Miami Foundation</a>.</p>

        <ul class="social-links">
          <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="https://medium.com/@{{ site.medium }}"><i class="fa fa-medium"></i> Medium</a></li>
          <li><a href="https://linkedin.com/in/{{ site.linkedin }}/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="https://github.com/{{ site.github }}/"><i class="fa fa-github"></i> GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
