<section id="projects" data-magellan-target="projects">
  <div class="container">
    <div class="row small-12 large-11 columns small-centered">
      <h1>Stuff I work on 🛠</h1>
      <div class="row small-up-1 medium-up-2 large-up-3">
        <div class="column column-block">
          <a href="http://whereby.us"><img src="/img/dayofthrones.jpg" class="thumbnail" alt="Day of thrones sack race"></a>
          <h3><a href="http://whereby.us">WhereBy.Us</a></h3>
          <p>I co-founded and manage product and editorial at WhereBy.Us. We make engaging media and experiences for curious locals in emerging cities.</p>
        </div>
        <div class="column column-block">
          <a href="http://snd.org"><img src="/img/snd.jpg" class="thumbnail" alt="SND SF presentation"></a>
          <h3><a href="http://snd.org">Society for News Design</a></h3>
          <p>I serve on the board of the Society for News Design, an international organization for news media professionals and visual communicators. </p>
        </div>
        <div class="column column-block">
          <a href="http://codefor.miami"><img src="/img/cfm.jpg" class="thumbnail" alt="National Day of Civic Hacking"></a>
          <h3><a href="http://codefor.miami">Code for Miami</a></h3>
          <p>I co-founded Code for Miami as a Code for America brigade in 2013. It's now an independent nonprofit dedicated to improving life in Miami-Dade County through technology.</p>
        </div>
        <div class="column column-block">
          <a href="https://www.meetup.com/Hacks-Hackers-Miami/"><img src="/img/hhmia.jpg" class="thumbnail" alt="Hacks/Hackers Miami meetup"></a>
          <h3><a href="https://www.meetup.com/Hacks-Hackers-Miami/">Hacks/Hackers Miami</a></h3>
          <p>I co-founded the Miami Hacks/Hackers meetup. Hacks/Hackers is a global organization of journalists and technologists rethinking the future of news and information.</p>
        </div>
        <div class="column column-block">
          <a href="http://cutgroup.miami"><img src="/img/cutgroup.jpg" class="thumbnail" alt="CUT Group Testing"></a>
          <h3><a href="http://cutgroup.miami">CUTGroup Miami</a></h3>
          <p>The Civic User Testing Group, a Code for Miami program that recruits and pays Miami-Dade residents to user-test websites and apps. The project is supported by a 2016 Knight Cities Challenge grant.</p>
        </div>
        <div class="column column-block">
          <a href="http://www.thewinlab.org/"><img src="/img/winlab.jpg" class="thumbnail" alt="WINLab panel"></a>
          <h3><a href="http://www.thewinlab.org/">WIN Lab</a></h3>
          <p>I serve as a coach for Babson College's Women Innovating Now Lab in Miami, which provides women entrepreneurs with a rigorous, experiential process to innovate and launch or transform businesses.</p>
        </div>
      </div>
    </div>
  </div>
</section>