<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }} - {{ site.name }}</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="{{ page.title }} - {{ site.name }}" />
<meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
<meta charset="UTF-8"> 

<link rel="stylesheet" href="css/resume.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Stint+Ultra+Expanded" rel="stylesheet">

<!-- favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
    Twitter: https://dev.twitter.com/docs/cards/types/summary-card
    ============================== -->
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:image" content="{{ page.imageurl }}"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.imageurl }}">
</head>
<body id="top">
<div id="cv">
	<div class="mainDetails">
		<div id="headshot" >
			<img src="{{ page.imageurl }}" alt="Rebekah Monson" />
		</div>
		
		<div id="name" >
			<h1>Rebekah Monson</h1>
			<h2>Journalism + technology</h2>
		</div>
		
		<div id="contactDetails" >
			<ul>
				<li><a href="mailto:rebekah@whereby.us">rebekah@whereby.us</a></li>
				<li><a href="http://rebekahmonson.com">rebekahmonson.com</a></li>
				<li class="socialLink"><a href="http://twitter.com/rsm"><strong>Twitter:</strong> @rsm</a></li>
				<li class="socialLink"><a href="http://www.linkedin.com/in/rmonson"><strong>LinkedIn:</strong> rebekahmonson</a></li>
				<li class="socialLink"><a href="https://github.com/rebekahmonson"><strong>Github:</strong> rebekahmonson</a></li>
			</ul>
		</div>
		
		<div class="clear"></div>
	</div>
	<div class="rule quickFade"></div>
	<div id="mainArea">
		<section >
			<article>
				<div class="sectionTitle">
					<h1>About</h1>
				</div>
				
				<div class="sectionContent">
					<p>Rebekah Monson is co-founder and VP of Product and Editorial for <a href="http://whereby.us"> WhereBy.Us.</a> With more than a decade of experience in journalism, technology, online media and design, she is an active collaborator with a proven ability to manage complex problems, high-achieving teams, tight deadlines and challenging business conditions. 
					</p>
				</div>
			</article>
		</section>

	<div class="clear"></div>
		
		
		
		<section >
			<div class="sectionTitle" >
				<h1>Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Co-founder and V.P., Product and Editorial</h2>
					<p class="company"> <a href="http://whereby.us" target="new">WhereBy.Us</a></p>
					<p class="subDetails">October 2014 to present</p>
					<p><a href="http://whereby.us">WhereBy.Us</a> is a media startup that creates media and technology products to help people connect and engage in their cities. 
					<ul>
						<li>Design, develop and manage local media brands and brand strategy using iterative processes and human-centered design techniques.</li>
						<li>Design, develop, test and manage websites, daily email newsletters, ticketing systems, member management, sales, and additional technology products and systems.</li>
						<li>Manage editorial and cross-platform product and content strategy for local brands.
						<li>Manage technology and local brand staff.</li>
						<li>Write, edit, and design editorial content, including articles, interactive media, and data visualization projects.</li>
					</ul>
					
				</article>
				<article>
					<h2>Communication Manager</h2>
					<p class="company"> <a href="http://www.com.miami.edu" target="new">University of Miami School of Communication</a></p>
					<p class="subDetails">October 2013 to September 2014</p>
					<ul>
						<li>Planned and executed a comprehensive communicatons strategy for the School of Comunication.</li>
						<li>Oversaw branding and development of promotional materials, web and print collateral, multimedia projects, strategic communications, campaign materials and e-mail marketing.</li>
						<li>Coordinated external media relations and press inquiries.</li>
						<li>Managed audience development across social platforms.</li>
						<li>Planned and executed a comprehensive strategy for the School of Comunication website, launched in 2014, that improved admissions requests and grew users by more than 20% in the first month of launch.</li>
					</ul>	
				</article>
				<article>
					<h2>Editor</h2>
					<p class="company"> <a href="http://www.as.miami.edu" target="new">University of Miami College of Arts and Sciences</a></p>
					<p class="subDetails">November 2011 to October 2013</p>
					<ul>
						<li>Planned and executed a comprehensive communicatons strategy for the College of Arts and Sciencces.</li>
						<li>Oversaw branding and development of promotional materials, web and print collateral, a semiannual magazine, multimedia projects, strategic communications, campaign materials and e-mail marketing.</li>
						<li>Coordinated external media relations issues and press inquiries.</li>
						<li>Supervised a communications specialist, hired and managed freelancers and oversaw budgets for college communications.</li>
						<li>Managed brand and audience development across platforms.</li>
						<li>Assisted in the planning and execution of a comprehensive redesign strategy for the College of Arts and Sciences website, launched in 2013.	</li>
					</ul>
				</article>
				<article>
				<h2>Teaching Assistant</h2>
				<p class="company"> <a href="http://com.miami.edu/" target="new">University of Miami School of Communication</a></p>
				<p class="subDetails">January 2013 to May 2013</p>
				<ul>
					<li>Taught basic design principles, Adobe InDesign, Photoshop and Illustrator skills to two sections of a lab for communication students.</li>
				</ul>
				</article>
				<article>
					<h2>Reporter</h2>
					<p class="company"> <a href="http://sunsentinel.com" target="new"><i>Sun Sentinel</i></a></p>
					<p class="subDetails">December 2010 to November 2011 </p>
					<ul>
					<li>Covered community affairs and municipal government in Boca Raton and unincorporated southern Palm Beach County.</li>
					<li>Wrote daily breaking news stories and blogs, developed enterprise content from within coverage.</li>
					<li>Shot, edited and produced videos and multimedia coverage.</li>
					<li>Trained and assisted reporters with video production and editing.</li>
					<li>Used social media to communicate with readers, find stories and sources and break news.</li>
					</ul>	
				</article>
				
				<article>
					<h2>Community manager</h2>
					<p class="company"> <a href="http://sunsentinel.com" target="new"><i>Sun Sentinel</i></a></p>
					<p class="subDetails">August 2009 to December 2010</p>
					<ul>
						<li>Managed web presence, social media networks, blogs and online planning for the business section and subsections.</li>
						<li>Trained staff on software, SEO and social media tools.</li>
						<li>Grew local traffic by more than 30% for business content.</li>
				</article>
				<article>
					<h2>Design director</h2>
					<p class="company"> <a href="http://sunsentinel.com" target="new"><i>Sun Sentinel</i></a></p>
					<p class="subDetails">March 2007 to August 2009</p>
					<ul>
						<li>Managed and art-directed up to five designers  to produce daily 6- to 20-page Sports and Business sections on deadline.</li>
						<li>Collaborated with editors, reporters, photographers and graphic artists to plan daily coverage, projects and special sections.</li>
						<li>Helped to establish and maintain visual and typographic style.</li>
						<li>Illustrated and art-directed photo shoots for projects.</li>
						<li>Trained designers on publication software as a CCI superuser.</li>
						<li>Conceptualized and executed print and website redesigns.</li>
				</article>
				<article>
					<h2>Projects/1A Designer</h2>
					<p class="company"> <a href="http://sunsentinel.com" target="new"><i>Sun Sentinel</i></a></p>
					<p class="subDetails">July 2005 to March 2007</p>
					<p>
				</article>
				<article>
					<h2>Designer</h2>
					<p class="company"> <a href="http://spokesman.com" target="new"><i>Spokesman-Review</i></a></p>
					<p class="subDetails">October 2003 to July 2005</p>
					<p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<section >
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University of Miami</h2>
					<p class="subDetails">Incomplete.</p>
					<p>Master of Fine Arts, <a href="http://interactive.miami.edu/" target="new">Interactive Media</a></p>
				</article>
				
				<article>
					<h2>Louisiana State University</h2>
					<p class="subDetails">1999 to 2003</p>
					<p>Bachelor of Arts, Mass Communication
					<br/>Concentration: Journalism
					<br/>Minor: Visual communication
				</article>
			</div>
			
			<div class="clear"></div>
		</section>
		<section >
			<div class="sectionTitle">
				<h1>Other</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Board service and leadership</h2>		
					<p class="subtle"><a href="http://snd.org">Society for News Design,</a> Board of Directors
					<br/><a href="http://engagement.fiu.edu/">Florida International University Engagement Advisory Council</a>
					<br/><a href="http://www.100resilientcities.org/cities/entry/greater-miami-and-the-beaches-resilience-challenge">Greater Miami and Beaches 100 Resilient Cities</a> Steering Committee
					<br/><a href="http://miamidade.gov/">Miami-Dade County</a> Millennial Task Force, District 8
					<br/><a href="http://www.babson.edu/Academics/centers/cwel/educational-programs/win-lab/Pages/home.aspx">Babson WINlab</a> Coach
					<br/><a href="http://codeformiami.org">Code for Miami,</a> Board of Directors, co-founder
					<br/><a href="http://miami.meetup.hackshackers.com/">Hacks/Hackers Miami,</a> co-founder
					<br/><a href="https://www.theunderline.org/">Friends of the Underline,</a> Young Professionals Organization
					<br/><a href="http://www.spjsofla.net/" target="new">Society of Professional Journalists South Florida Pro Chapter,</a> Board of Directors, 2011-2012
				</article>
				
				<article>
					<h2>Professional honors</h2>
					<p class="subtle">Reynolds Journalism Institute, Institutional Fellow, 2017
					<br/>Reader, Knight Prototype Challenge, 2017
					<br/>Radical Partners Social Entrepreneurship Bootcamp, 2016
					<br/>Knight Cities Challenge winner (CUT Group), 2016 
					<br/>ONA-Poynter Leadership Academy for Women in Digital Media, 2015 
					<br/>Five Tech Women to Watch in Miami, TechCocktail, 2015
					<br/>Miami's Most Interesting People, Miami New Times, 2015
					<br/>Google Fellow, Personal Democracy Forum, 2014
					<br/>White House LGBT Innovation Summit, 2014
					<br/>Reader, Knight News Challenge, 2013-2014
					<br/>Judge, Society for News Design Best of News Design print competition, 2013
					<br/>Judge, Best of Sports Design competition 2013-2016
					<br/>Awesome Foundation grantee (Sensor Sub) 2014
					<br/>Awards from the Society for News Design, Society for Professional Journalists, Florida Society of Newspaper Editors, SPJ's Sunshine State awards, Best of Gannett contests.</p>

				</article>
				<article>
					<h2>Speaking, teaching, presentations</h2>
					<p class="subtle">eMerge Americas, 2017
					<br/>Mobile Media Culture in the Americas: The Digital Divide, 2017
					<br/>Society for News Design Annual Workshop, 2016-2017
					<br/>Lillian Lodge Kopenhaver Center for the Advancement of Women in Communication, 2016
					<br/>Institute for Nonprofit News (INN) Technology Workshop, 2016
					<br/>Hacks/Hackers Connect London, 2016
					<br/>Hacks/Hackers Connect Miami, 2016
					<br/>NICAR Twine workshop, 2015
					<br/>Code for America Summit, 2013-2015 
					<br/>Newsgeist, 2014
					<br/>Online News Association, Newsgames session, 2014
					<br/>Indiecade, big games showcase, 2014
					<br/>AEJMC, 2014
					<br/>Grace Hopper Student Opportunity Lab, 2014
					<br/>WordCamp Miami, 2014
					<br/>#SNDMakes, 2014-2016
					<br/>Miami Arts Business Council, 2014
					<br/>NAHJ Build A Site Workshop, 2014
					<br/>Kauffman-Rossin Millennials in the Workplace, 2014
					<br/>Newsgeist, 2014
					<br/>SPJ Florida/NAHJ Multimedia Workshop, Mobile video for journalists session, 2013
					<br/>T.A., University of Miami School of Communication, 2013</p>
				</article>
			</div>
		</section>	
	</div>
</div>
</body>
</html>